
.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
  border-collapse: collapse;
}

.table th{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #555555!important;
}
.table tr{
  &.active{
    td{
      transition: all .2s ease;
      background: #F5F5F5;
    }
  }
}
.table td{
  font-family: 'Roboto',sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000000!important;
  transition: all .2s ease;
  .email-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

}
.table th,
.table td {
  padding:14.5px 25px!important;
  vertical-align: top;
  border-radius: 0!important;
  border: 0!important;
  border-top: 1px solid #dee2e6!important;
  cursor: pointer;
  border-right:none!important;
  border-left:none!important;
  text-align: left;
  &:first-child{
    width: 300px!important;
    border-right:1px solid #DDDDDD!important;
  }
}

.sortable-chosen{
  background-color: rgba(#dfdfdf, 0.6);
}

.table thead th {
  text-align: left;
  vertical-align: center;
  border-bottom:1px solid #DDDDDD;
}

.table tbody + tbody {
  border-top: 1px solid #DDDDDD;
}

.table-sm th,
.table-sm td {
  padding: 0.3rem;
}

.table-bordered {
  border: 1px solid #DDDDDD;
}

.table-bordered th,
.table-bordered td {
  border: 1px solid #DDDDDD;
}

.table-bordered thead th,
.table-bordered thead td {
  border-bottom-width: 1px;
}


@media (max-width: 575.98px) {
  .table-responsive-sm {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .table-responsive-sm > .table-bordered {
    border: 0;
  }
}

@media (max-width: 767.98px) {
  .table-responsive-md {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .table-responsive-md > .table-bordered {
    border: 0;
  }
}

@media (max-width: 991.98px) {
  .table-responsive-lg {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .table-responsive-lg > .table-bordered {
    border: 0;
  }
}

@media (max-width: 1199.98px) {
  .table-responsive-xl {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .table-responsive-xl > .table-bordered {
    border: 0;
  }
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.table-responsive > .table-bordered {
  border: 0;
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.table-responsive > .table-bordered {
  border: 0;
}